%table.table.table-bordered
  %th Name
  - @companies.each do |f|
    %tr
      %td= f.name
      %td
        = link_to "Edit", edit_company_path(f), class: 'btn btn-primary'
        = link_to 'Delete', company_path(f), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
        = link_to 'Destroy', company_path(f), method: :delete, data: { confirm: 'Are you sure?' }
= link_to "New Company", new_company_path, class: 'btn btn-primary'
= link_to ' Home', root_path, class: 'btn btn-primary glyphicon glyphicon-home'
